 
.feedback {
  display: block;
  /* float: left; */
  overflow: hidden;
}

.feedback__author {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;  
}

.feedback__container {
  display: block;
  /* float: left; */
  overflow: hidden;
}

.feedback__image {
  display: block;
  width: 280px;
  height: 280px;
  /* border: 1px groove greenyellow; */
  border-radius: 50%;
  margin-bottom: 11px;
}

.feedback__item {
  display: block;
  float: left;
  /* padding: 0 100px; */
  text-align: left;
}

.feedback__item:not(:last-child) {
  margin-bottom: 50px;
}

.feedback__item:last-child {
  margin-bottom: 0;
}

.feedback__list {
  display: block;
  float: left;
  padding: 0 95px;
  /* padding: 1px 96px 1px 98px; */
}

.feedback__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.feedback__text {
  display: inline-block
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;  
  padding: 52px 0;
  text-align: left;
}

.feedback__user-info {
  display: block;
  float: left;
  margin-right: 20px;
}
