/*
 * article *
 */

.article {
  display: flow-root;
}

.article__image {
  display: block;
  /* margin-bottom: 30px; */
}

.article__image_center {
  margin-left: auto;
  margin-right: auto;
  /* margin: 0 auto; */
}

.article__title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 30px;
}

.article__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}

.article__text:not(:last-child) {
  margin-bottom: 30px;
}

.article__text_italic {
  font-style: italic;
  font-weight: inherit;
}

.article__text_strong {
  font-style: inherit;
  font-weight: 700;
}

.article__figcaption {
  font-size: 20px;
  line-height: 120%;
  /* or 24px */
  color: #5E5E5E;  
  padding: 15px 30px;
}

.article__figure {
  border: 1px solid #000000;
}

.article__content {
  display: block;
  width: 500px;
}
.article__content_left {
  float: left;
  padding-right: 30px;
}
.article__content_right {
  float: right;
  padding-left: 30px;
}
.article__image {
  display: block;
}
.article__image_center {
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin: 0 auto;
}
.article__image_center:not(:last-child) {
  margin-bottom: 30px;
}

.article__content-text {
  display: inline-block;
  background-color: rgb(220, 220, 220);
  max-width: 510px;
}

.article__content-text:first-child {
  padding-right: 30px;
}
.article__content-text:last-child {
  padding-left: 30px;
}



.picture_to_left,
.content_to_left {
  display: block;
  float: left;
  /* border: 1px solid orange; */
}

.picture_to_right,
.content_to_right {
  display: block;
  float: right;
  /* border: 1px solid orangered; */
}



.article__image_left {
  display: block;
  float: left;
}
.article__image_right {
  display: block;
  float: right;
}

.article__row {
  display: flow-root;
}
.article__row:not(:last-child) {
  margin-bottom: 30px;
}



