/* *NAVIGATION* */
.navigation {
  display: flex;
}

.navigation__link {
  display: flex;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 20px;
  transition: color 200ms ease-out;
}

.navigation__link:hover {
  outline: none;
  color: #d0d0d0;
}

.navigation__link:focus {
  outline: 1px solid #CD06FF;
  color: #d0d0d0;
}

.navigation__link:active {
  outline: 1px solid #CD06FF;
  color: #d0d0d0;
}

.navigation__menu {
  display: flex;
}

.navigation__menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
 