/* todo ВАЖНЫЕ ССЫЛКИ */
/* Верстка форм https://yoksel.github.io/bad-practices/forms-markup/ */
/* Стилизуем формы при помощи CSS  https://techrocks.ru/2020/03/25/how-to-style-forms-with-css/ */
/* https://ru.w3docs.com/uchebnik-html/html-teg-legend.html */


.booking {
  display: flex;
  padding: 80px 0 50px 0;
  width: 100%;
  min-height: 1114px;
  background: #440f51;
}
.booking__container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid limegreen; */
}


.booking__fieldset {
  display: flex;
  border: 1px solid transparent;
}
.booking__fieldset_horizontal {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid lawngreen; * ! DEBUG */

}
.booking__fieldset_vertical {
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  /* border: 1px solid orange; * ! DEBUG */
}


.booking__hall {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* padding-bottom: 60px; */
  margin-bottom: 60px;
  width: 100%;
  height: 123px;
  align-items: end;
}
.booking__game {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 287px;
  /* border: 1px solid magenta; * ! DEBUG */
  padding-top: 40px;
  margin-bottom: 60px;
}
.booking__video-game,
.booking__desktop-game,
.booking__optional-game {
  display: flex;
  flex-direction: column;
  flex-basis: 285px;
  align-items: start;
  justify-content: start;
  row-gap: 20px;
  padding-top: 24px;
  font-size: 22px;
}
.booking__date {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 228px;
  padding-top: 40px;
  margin-bottom: 40px;
}
.booking__template,
.booking__user,
.booking__contacts {
  display: flex;
  flex-basis: 280px;
}



.booking__radio-label {
  display: flex;
  position: relative;
}
.booking__radio-label_hall {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 250px;
  height: 55px;
  border-radius: 8px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background: #ffffff;
  color: #000000;
  cursor: pointer;
}

.booking__text-select-hall {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 55px;
  border-radius: 8px;
  text-transform: uppercase;
  background: #ffffff;
  color: #000000;
  cursor: pointer;
}
.booking__text-select-hall:hover {
  color: #fff;
  background-color: darkmagenta;
}
/* .booking__radio-select-hall:checked + span{ */
.booking__radio-select-hall:checked + .booking__text-select-hall {
  color: #fff;
  background-color: darkmagenta;
}

.booking__radio-select-hall {
  display: block;
  position: absolute;
  left: 0;
  display: none; /* ? можно ли так ? */
}

.booking__legend {
  display: flex;
  margin: auto;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.booking__label {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;  
}


.booking__game-label {
  display: flex;
  gap: 12px;
  justify-content: start;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;

  color: #FFFFFF;
  padding-left: 10px;
}

.booking__radio-video-game,
.booking__checkbox-table-game,
.booking__checkbox-optional-game {
  width: 27px;
  height: 27px;
}



.booking__submit-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}




/*
.booking__tesx {
  display: block;
  position: relative;
  width: 150px;
  height: 70px;
  background: violet;
  border-radius: 10px;
  cursor: pointer;
}
.booking__tesx::before {
  display: block;
  position: absolute;
  right: 10px;
  bottom: calc(50% - 20px/2);
  width: 0px;
  height: 0px;
  content: "";
  background: transparent;

  border: 15px solid transparent;
  border-top: 20px solid dimgray;
  border-bottom: 0 solid;
  transition: all 300ms ease-in-out;
}
.booking__tesx:hover::before {
  border-top-color: black;
  transform: rotateX(180deg) rotateY(180deg);
}*/




/* * */
.booking__select {
  display: flex;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 12px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #211E1E;  
}

.booking__select_date {
  width: 134px;
  height: 52px;
}

.booking__select_time {
  width: 134px;
  height: 52px;
}
.booking__fieldset_date-time {
  margin-bottom: 12px;
}
.booking__select_people {
  width: 300px;
  height: 52px;
}



.booking__fieldset {
  display: flex;
  /* border: 1px solid violet; */
}
.booking__fieldset_date-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking__input {
  width: 280px;
  height: 52px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 12px 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #211E1E;
}

.booking__input_name {
  margin-bottom: 14px;
}
.booking__input_surname {
  padding: 12px 20px;
}
.booking__input_tel {
  margin-bottom: 14px;
}
.booking__input_email {
  padding: 12px 20px;
}


