@font-face {
    font-family: "Bebas Neue";
    src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
        url("../fonts/BebasNeueRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background: #635854;
    /* padding-top: 12px; */
    /* padding-bottom: 12px; */
    padding: 12px 0;
    border-bottom: 4px solid #3596F5;
    box-sizing: border-box;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    /* text-align: center; */
}

.navbar-item {
    margin: 9px 40px;
    text-align: center;
}
.navbar-item:first-child {
    margin-left: 0;
}
.navbar-item:last-child {
    margin-right: 0;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
    /* font-family: "Roboto", sans-serif; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.navbar-contacts {
    text-align: right;
}

.navbar-text {
    text-align: right;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.navbar-phone {
    display: block;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */
    text-align: right;
    color: #FFFFFF;
}


.main {
    display: flex;
    max-width: 1280px;
    margin: 64px auto 99px;
}


.home-image path {
    opacity: 0;
}

.home-image path:hover {
    opacity: 1;
    cursor: pointer;
}



.choose {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 68px 122px;
}

.main-title {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #635854;
}

.counter-up {
    display: flex;
    background: url(../img/up.svg);
    width: 32px;
    height: 20px;
}
.counter-down {
    display: flex;
    background: url(../img/down.svg);
    width: 32px;
    height: 20px;
}
.counter {
    display: flex;
    font-family: "Bebas Neue", "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    color: #635854;
}



button {
    cursor: pointer;
}

.up-floor-btn,
.down-floor-btn,
button {
    border: none;
}

.main .button-primary {
    padding: 16px 36px;
    background: #3596F5;
    border-radius: 6px;
    border: 1px #3596F5 solid;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}




.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}










.footer {
    display: flex;
    height: 171px;
    background: #D7D7D7;;
    padding: 12px 0;
    border-top: 4px solid #3596F5;
    box-sizing: border-box;
}
.footer .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
}
.navbar-footer-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer .navbar-contacts {
    margin-left: 37px;
    margin-right: 59px;
}
.footer .navbar-contacts .navbar-text,
.footer .navbar-contacts .navbar-phone {
    color: #635854;
    text-align-last: left;
}
.footer .navbar-social {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer .navbar-social .social-item {
    margin: 0 7px;
}
.footer .navbar-menu .navbar-link{
    color: #635854;
}