* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background: #635854;
    /* padding-top: 12px; */
    /* padding-bottom: 12px; */
    padding: 12px 0;
    border-bottom: 4px solid #3596F5;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    /* text-align: center; */
}

.navbar-item {
    margin: 9px 40px;
    text-align: center;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
    /* font-family: "Roboto", sans-serif; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.navbar-contacts {
    text-align: right;
}

.navbar-text {
    text-align: right;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.navbar-phone {
    display: block;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */
    text-align: right;
    color: #FFFFFF;
}


.home-image path {
    opacity: 0;
}

.home-image path:hover {
    opacity: 1;
    cursor: pointer;
}