/*
 * HEADER *
 */

.header {
  padding-top: 60px;
}

.header__container {
  /* border: 1px solid; */
}

.header-title {
  /* font-family: Roboto, sans-serif; */
  /* font-style: normal; */
  /* font-weight: 900;
  font-size: 60px;
  line-height: 72px;
  color: #000000;
  margin-bottom: 30px;
  text-align: left; */
}

.header__description {
  /* font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  text-align: left; */
}

.header__description:not(:last-child) {
  margin-bottom: 30px;
}

.header__description:last-child {
  margin-bottom: 0;
}
