/*
 * HEADER *
 */

.header {
  padding-top: 60px;
}

.header__container {
}

.header__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  /* line-height: 72px; */
  text-align: left;
  /* color: #000000; */
  margin-bottom: 30px;
}

.header__description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}

.header__description:not(:last-child) {
  margin-bottom: 30px;
}

.header__description:last-child {
  margin-bottom: 0;
}
