/* *contacts form* */

.contact {
  display: flex;
  min-height: 621px;
  background: url(../img/background-contact-screen.jpg) no-repeat center;
  background: linear-gradient( rgba(47, 50, 75, 0.35),
                rgba(47, 50, 75, 0.85)), 
                  url(../img/background-contact-screen-orig.jpg) no-repeat center;
  background-size: cover;
  color: var(--white);
  padding: 70px 0;
}

.contact__text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
}

.contact__form {
}

.contact__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.contact__title {
  /* todo */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: var(--white, #ffffff);
}

.container_contact {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.form__fields {
  /* border: 1px solid skyblue; */
  border: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
}

/* * скрываем поумолчанию checkbox
.form__agree-check {
  appearance: none;
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 11px;
  background-color: transparent;
  border: 2px solid #ffffff59;
} */

/* *контейнер */
.form__agree {
  /* border: 1px solid orange; */
  /* position: relative; */
  display: block;
  cursor: pointer;
  /* padding-left: 24px; */
}
/* *скрываем чекбокс */
.form__agree-check {
  position: absolute; 
  display: block;
  width: 22px;
  height: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 1; /* todo */
  opacity: 0.5;
  cursor: pointer;
}
.form__agree-check:focus {
  outline: 2px solid var(--dark-blue);
}
.form__agree-check:active {
  outline: 1px solid var(--sky-blue);
}

/* *псевдоэлемент чекбокс */
.form__agree-check + .form__label::before {
  content: "";
  appearance: none;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 5px;
  opacity: 0.6;
  transition: opacity 400ms ease;
  cursor: pointer;
}
.form__agree-check:checked + .form__label::before {
  opacity: 1;
}
/* *псевдоэлемент галочка внутри чекбокса* */
/* пустая */
.form__agree-check + .form__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 7px;
  display: block;
  width: 8px;
  height: 14px;
  background-color: transparent;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(10deg) scale(250%);
  opacity: 0;
  transition: all 200ms ease;
  cursor: pointer;
}
/* checked чекнутая галочка с переходами */
.form__agree-check:checked + .form__label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 7px;
  display: block;
  width: 8px;
  height: 14px;
  background-color: transparent;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  opacity: 1;
  transform: rotate(33deg);
}

.form__label {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

.form__label-text {
  padding-left: 32px;
}

.form__button {
  outline: none;
}
.form__button:focus {
  outline: 2px solid var(--sky-blue);
}
.form__button:active {
  outline: 1px solid var(--sky-blue);
}

/* input поле ввода */
.form__input {
  display: flex;
  min-width: 423px;
  height: 44px;
  border-radius: 50px;
  background: transparent;
  color: var(--white);
  padding-left: 26px;
  padding-right: 26px;
  border: 1.38235px solid var(--white);
}

.form__input:focus {
  border: 1.38235px solid var(--whitea, #959595);
  outline: 1px solid var(--dark-blue);
}
.form__input:active {
  outline: 2px solid var(--dark-blue);
}

.form__email {
}

/* ссылка внутри текста */
.form__label-link {
/* 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
 */
  color: var(--dark-blue);
}
.form__label-link:focus {
  outline: 1px solid var(--dark-blue);
}
.form__label-link:active {
  outline: 1px solid var(--sky-blue);
}

.form__name {
}

.form__tel {
}

.subtitle {
}

.subtitle_white {
}

.title {
  /* todo global */
}

.title_white {
  /* color: var(--white); */
}
