/* ABOUT */

.about {
  display: block;
  padding-top: 50px;
  padding-bottom: 45px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 701px;
}

.about__pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 600px;
}
.about__image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about__big-illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  min-height: 596px;
  background: url(img/about-big-illustration.png) no-repeat center;
  background-size: cover;
}

.about__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 80px;
  /* border: 1px solid orange; */
}

.about__info {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 48px;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  row-gap: 28px;
  /* text-align: left; */
}
.about__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  line-height: 28px;
  color: #ffffff;
}

.about__blockquote {
  position: relative;
  display: block;
  margin: 0;
  width: 455px;
  padding-left: 30px;
}

.about__blockquote-text {
  position: relative;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 39px;
}

/* кавычки для цитат */
.about__blockquote-text::before,
.about__blockquote-text::after {
  display: block;
  width: 50px;
  height: 50px;
  color: #6c0287;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  text-align: center;
}

.about__blockquote-text::before {
  content: "“";
  position: absolute;
  top: -10px;
  left: -45px;
}

.about__blockquote-text::after {
  content: "”";
  position: absolute;
  bottom: 0;
  right: 45px;
}

.about__blockquote-author {
  position: relative;
  display: block;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  padding-left: 177px;
}

.about__blockquote-author::before {
  position: absolute;
  top: 2px;
  left: 78px;
  display: block;
  content: "";
  background: url(img/author-foto.png) no-repeat 50% 50%;
  background-size: contain;
  border-radius: 50%;
  border: 0;
  width: 80px;
  height: 80px;
}
