/* *help* */
.help-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-bg);
}

.help-us__container {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
}

.help-us__article {
  /* border: 1px solid orangered; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.help-us__help-button {
}


.help-us__images-block_first {
  height: 300px;
  /* background: url(img/first-image-rabbit-dog-bulldog.png) no-repeat center; */
}
.help-us__images-block_second {
  height: 350px;
  /* background: url(img/second-image-girl-with-dog.png) no-repeat center; */
}
.help-us__images-block_third {
  height: 380px;
  /* background: url(img/third-image-cat-cat-man-and-dog.png) no-repeat center; */
}


.help-us__images-block_left {
  display: flex;
}
.help-us__images-block_right {
  display: flex;
}


/* images block */
.help-us__images-block {
  display: flex;
  flex-direction: column;
  width: 580px;
  height: 382px;
  flex-wrap: wrap;
  gap: 20px;
}

/* one plate image first */
.help-us__image_first_one {
  width: 180px;
  height: 139px;
  background: url(img/first-image-white-rabbit.png) no-repeat center;
}
.help-us__image_first_two {
  width: 180px;
  height: 139px;
  background: url(img/first-image-brown-dog.png) no-repeat center;
}
.help-us__image_first_three {
  width: 380px;
  height: 298px;
  background: url(img/first-image-black-bulldog.png) no-repeat center;
}


/* one plate image second */
.help-us__image_second {
  display: flex;
  width: 580px;
  height: 349px;
  background: url(img/second-image-girl-with-dog.png) no-repeat center;
}


/* one plate image third */
.help-us__image_third_one {
  display: flex;
  width: 280px;
  height: 382px;
  background: url(img/third-image-cat-meow.png) no-repeat center;
}
.help-us__image_third_two {
  display: flex;
  width: 280px;
  height: 181px;
  background: url(img/third-image-black-cat-with-hand.png) no-repeat center;
}
.help-us__image_third_three {
  display: flex;
  width: 280px;
  height: 181px;
  background: url(img/third-image-man-with-dog.png) no-repeat center;
}


.help-us__image {
  display: flex;
  background-size: 100%;
  transition: all 200ms ease-out;
}
/* todo 
.help-us__image:hover {
  background-size: 110%;
} */


.help-us__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 30px;
}
.help-us__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.help-us__question {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  /* text-align: center; */
  /* color: #FF8A00; */
  color: var(--orange-text, #FF8A00);
}
.help-us__text {
}
.help-us__text-content {
  display: flex;
  flex-direction: column;
  width: 580px;
  row-gap: 20px;
}
.help-us__text-content_left {
}
.help-us__text-content_right {
}
.help-us__text_italic {
  font-style: italic;
}
.help-us__text_strong {
  font-weight: bold;
}
.help-us__title {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 550;
  font-size: 30px;
  line-height: 40px;
  color: var(--dark-text, #282626);
}
.help-us__text {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: var(--dark-text, #282626);
}
