

/* BANNER */
.banner {
  font-family: Arial, sans-serif;
  display: block;
  padding-top: 143px;
  padding-bottom: 50px;
}

.banner .container {
  position: relative;
  display: block;
  height: 862px;
  background: url(../images/GAME-OVER-text.svg) repeat-y 10px 35px;
}

.banner .container::after {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 762px;
  content: '';
  background: url(../images/banner-man.png) no-repeat right top;
}

.site-title {
  /* Самый жирный шрифт для заголовка */
  font-family: "Arial Black", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  text-align: left;
  line-height: 200px;
  letter-spacing: -0.1em;
  color: #fff;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #1B1A1B;
}

.site-description {
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
  text-align: left;
  margin-left: 207px;
}

/* HALLS */
.halls {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* 
.halls .container {
  display: block;
} */

h2,
.halls-title,
.about-title,
.contacts-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.halls-item {
  display: block;
  width: 100%;
  height: 710px;
  padding: 315px 0;
}

.halls-item p {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
}

.halls-item:not(:last-child) {
  margin-bottom: 60px;
}

/* фоновые изображения разных залов */
.hall-80s-vibes {
  background: url(../images/80s-vibes.jpg) no-repeat center;
}

.hall-star-wars {
  background: url(../images/star-wars.jpg) no-repeat center;
}

.hall-wild-west {
  background: url(../images/80s-vibes.jpg) no-repeat center;
}

.hall-neon-style {
  background: url(../images/neon-styles.jpg) no-repeat center;
}

/* ABOUT */
.about {
  display: block;
  padding-top: 50px;
  padding-bottom: 45px;
}

.about .container {
  display: block;
  min-height: 701px;
}

.about-text {
  width: 500px;
  text-align: left;
  margin-bottom: 40px;
}

.about-text:last-of-type {
  margin-bottom: 70px;
}

.blockquote {
  position: relative;
  display: block;
  margin: 0;
  width: 455px;
  padding-left: 30px;
}

.blockquote p {
  position: relative;
}

/* кавычки для цитат */
.blockquote p::before,
.blockquote p::after {
  display: block;
  width: 50px;
  height: 50px;
  color: #6C0287;
  font-family: Arial;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  text-align: center;
}

.blockquote p::before {
  content: '“';
  position: absolute;
  top: -10px;
  left: -45px;
}

.blockquote p::after {
  content: '”';
  position: absolute;
  bottom: 0;
  right: 45px;
}

.blockquote-text {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.blockquote-author {
  position: relative;
  display: block;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  padding-left: 177px;
}

.blockquote-author::before {
  position: absolute;
  top: 2px;
  left: 78px;
  display: block;
  content: '';
  background: url(../images/abakshin-author.png) no-repeat 50% 50%;
  border-radius: 50%;
  border: 0;
  width: 80px;
  height: 80px;
}

/* CONTACTS */
.contacts {
  display: block;
  padding-top: 45px;
  padding-bottom: 198px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts .container {
  display: block;
  min-height: 364px;
}

.contacts-text {
  padding-left: 60px;
}

.contacts p {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.contacts p {
  margin-bottom: 24px;
}

.contacts p:last-of-type {
  margin-bottom: 55px;
}
.contacts ul {
  display: block;
  text-align: left;
  list-style: none;
}

.contacts-address,
.contacts-tel,
.contacts-email {
  display: block;
  position: relative;
}

.contacts-address::before {
  display: block;
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  top: 0;
  left: -60px;
  background: url(../images/location.svg) no-repeat 0 0;
}

.contacts-tel::before {
  display: block;
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  top: 0;
  left: -60px;
  background: url(../images/phone-call.svg) no-repeat 0 0;
}

.contacts-email::before {
  display: block;
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  top: 0;
  left: -60px;
  background: url(../images/envelope.svg) no-repeat 0 0;
}

.social-list {
  display: block;
}

.social-item {
  display: inline-block;
  margin-right: 26px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: inherit;
  width: 50px;
  height: 50px;
}

.social-inst {
  background: url(../images/inst.svg) no-repeat center;
}

.social-vk {
  background: url(../images/vk.svg) no-repeat center;
}

.social-fb {
  background: url(../images/fb.svg) no-repeat center;
}

.social-tg {
  background: url(../images/tg.svg) no-repeat center;
}
