/* *FOOTER* */

.footer {
  /* border: 1px solid green; */
  padding: 20px 0;
}
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red; */
}

/* *copyright information* */
.copy {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}
.copy__copyright {
  display: flex;
  /* border: 1px solid magenta; */
}
.copy__copyright-text {
  font-size: 14px;
  line-height: 16px;
}
.copy__design {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  /* border: 1px solid lawngreen; */
}


.copy__design-info {
  font-size: 14px;
  line-height: 16px;
}

.copy__design-email {
  font-size: 14px;
  line-height: 16px;
}

.copy__link {
  cursor: pointer;
}
.copy__link:hover {
  color: #eadeed;
}
.copy__link:focus {
  outline: 1px solid #cd06ff;
  color: #eadeed;
}
