/* *all variables for project* */

:root {

  /* colors */
  --white: #ffffff;
  --light: #F9F9F9;
  --dark: #383A4C;
  --sky-blue: #15A9CB;
  --dark-blue: #4A76A8;

  /* footer background color */
  --black-bg: #2F324B;
}
