/* *FEATURES* */
.features {
  display: flex;
  width: 100%;
  /* border: 1px solid violet; */
}
.features__container {
  display: block;
  /* border: 1px solid magenta; */
}

.features__title {
  /* global page__title */
  margin-bottom: 40px;
}

.features__cards-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 20px;
  /* border: 4px solid orangered; */
}

.features__card-item {
  display: flex;
  /* margin-right: 20px; */
  /* todo gap */
  /* gap: 10px 50px; */
  /* margin-bottom: 40px; */
  /* border: 1px solid yellow; */
}

.features__card-figure {
  display: flex;
  position: relative;
  width: 380px;
  height: 228px;
  flex-direction: column;
}

.features__card-image {
  width: 380px;
  height: 228px;
  display: flex;
}

.features__card-figcaption {
  display: block;
  position: absolute;
  top: 166px;
  left: 40px;
  right: 40px;
  text-align: left;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}



