/* HALLS */

.halls {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}

.halls__title {
  margin-bottom: 40px;
}

.halls__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  transition: all 500ms ease;
}


.hall__item {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  transition: all 5500ms ease;
}


.halls__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 580px;
  height: 349px;
  cursor: default;
}



.halls__item_80s-vibes {
  background: url(img/halls_80s-vibers.jpg) no-repeat center;
  background-size: contain;
}

.halls__item_star-wars {
  background: url(img/halls-star-wars.jpg) no-repeat center;
  background-size: contain;
}

.halls__item_wild-west {
  background: url(img/halls-wild-wild-west.jpg) no-repeat center;
  background-size: contain;
}

.halls__item_neon-style {
  background: url(img/halls-neon-styles.jpg) no-repeat center;
  background-size: contain;
}



.halls__text {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 80%;
  height: 70%;
  text-align: center;

  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: all 500ms ease;
}


.hall__item {
  transition: all 500ms ease;
}

.halls__item {
  transition: all 500ms ease;
}

/* *hover* */
.halls__text:hover {
  /* background-color: rgba(87, 0, 87, 0.592); */
  transition: all 500ms ease;
}

.halls__text:hover ~ .halls__item {
  background-size: 120%;
  transition: all 500ms ease;
}

.halls__item:hover {
  /* сам фон */
  background-size: 100%;
  transition: all 500ms ease;
}