/* Comfortaa-Regular regular 400 */
@font-face {
  font-family: "Comfortaa";
  src:  local("Comfortaa Regular"),
        url(fonts/Comfortaa-Regular.woff2) format("woff2"),
        url(fonts/Comfortaa-Regular.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

/* HelveticaNeueCyr-Light light 300 */
@font-face {
  font-family: "HelveticaNeueCyr";
  src:  local("HelveticaNeueCyr Light"),
        url(fonts/HelveticaNeueCyr-Light.woff2) format("woff2"),
        url(fonts/HelveticaNeueCyr-Light.woff) format("woff");
  font-weight: 300;
  font-display: swap;
}

/* HelveticaNeueCyr-Roman normal 400 */
@font-face {
  font-family: "HelveticaNeueCyr";
  src:  local("HelveticaNeueCyr Roman"),
        url(fonts/HelveticaNeueCyr-Roman.woff2) format("woff2"),
        url(fonts/HelveticaNeueCyr-Roman.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

/* HelveticaNeueCyr-Medium medium 500 */
@font-face {
  font-family: "HelveticaNeueCyr";
  src:  local("HelveticaNeueCyr Medium"),
        url(fonts/HelveticaNeueCyr-Medium.woff2) format("woff2"),
        url(fonts/HelveticaNeueCyr-Medium.woff) format("woff");
  font-weight: 500;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  background-color: #F2F0F1;
  color: #282626;
  font-family: -apple-system,
    BlinkMacSystemFont, 
    'Segoe UI', 
    Roboto, 
    Oxygen,
    Ubuntu, 
    Cantarell, 
    'Open Sans', 
    'Helvetica Neue', 
    sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}

section {
  display: block;
  width: 100%;
}

.container {
  display: block;
  width: 1180px;
  margin: 0 auto;
}

.title {
  font-family: "Comfortaa", sans-serif;
  font-size: 50px;
  font-weight: 400; /* normal regular */
  text-align: left;
  color: #282626;
  margin-bottom: 33px;
}

.title-question {
  font-family: "Comfortaa", sans-serif;
  font-size: 52px;
  font-weight: 400;
  text-align: center;
  color: #FF8A00;
  margin-bottom: 130px;
}

p {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  line-height: 1.6;
}

p:not(:last-child) {
  margin-bottom: 30px;
  /* у последнего абзаца нет отступа снизу */
}

strong {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about .container {
  padding-right: 728px;
}

.help-us {
  padding-top: 107px;
  padding-bottom: 140px;
}

ol {
  list-style-type: decimal;
  counter-reset: count;
  list-style: inside;
}

.help-subtitle {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

li:nth-of-type(even) .help-subtitle {
  margin-bottom: 80px;
}

li {
  display: block;
  position: relative;
  list-style: none;
  padding-left: 30px;
  margin-bottom: 140px;
}

/* нет отступа у последнего элемента */
li:last-child {
  margin-bottom: 0;
}

/* нечетные */
li:nth-of-type(odd) {
  padding-right: 657px;
}

/* чётные */
li:nth-of-type(even) {
  padding-right: 520px;
}

/* цифры кастомные маркеры списка */
li:before {
  position: absolute;
  display: block;
  counter-increment: count;
  content:counter(count);
  color: #FF8A00;
  font-size: 50px;
  text-align: left;
  line-height: 37px;
  width: 29px;
  height: 43px;
}

article {
  margin-left: 58px;
}

