/* * BANNER */

.banner {
  font-family: Arial, sans-serif;
  display: block;
  padding-top: 143px;
  padding-bottom: 50px;
}

.banner__container {
  position: relative;
  display: block;
  width: 1180px;
  height: 862px;
  background: url(img/banner_man_vr.png) no-repeat 100% 100%,
            url(img/GAME_OVER_stroke_text-orig.svg) no-repeat 0px 183px, 
            url(img/GAME_OVER_pale_bright_3F1649.svg) no-repeat 0px 333px, 
            url(img/GAME_OVER_pale_bright_3F1649.svg) no-repeat 0px 483px, 
            url(img/GAME_OVER_copy_dark_inside_DarkViolet.svg) no-repeat 0px 633px, 
            url(img/GAME_OVER_very_bright_CD06FF_magenta.svg) no-repeat 0px 783px;
}

.banner__description {
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
  text-align: left;
  margin-left: 204px;
}

.banner__title {
  font-family: "Arial Black", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 196px;
  text-align: left;
  line-height: 200px;
  letter-spacing: -17px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #1B1A1B;
  margin-left: -6px;
}

/* * усложненное задание man_in_vr выше фона *
.banner__container::after {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 762px;
  content: '';
  background: url(img/banner_man_vr.png) no-repeat right top;  
} */