 /* *feedback * flex* */
.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.feedback__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}


.feedback__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}


.feedback__list {
  display: flex;
  width: 980px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.feedback__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: left;
}


.feedback__user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 11px;
}

.feedback__image {
  display: block;
  width: 280px;
  height: 280px;
}
.feedback__image_rounded {
  border-radius: 50%;
}
.feedback__image_maks {
  background: radial-gradient(50% 50% at 50% 50%,
            rgba(196, 196, 196, 0) 0%,
            rgba(108, 2, 135, 0.5) 100%), 
            url(img/maks-square.jpg);
}
.feedback__image_oksana {
  background: radial-gradient(50% 50% at 50% 50%,
            rgba(196, 196, 196, 0) 0%,
            rgba(108, 2, 135, 0.5) 100%),   
            url(img/oksan-square.jpg);
}
.feedback__image_nikita {
  background: radial-gradient(50% 50% at 50% 50%,
            rgba(196, 196, 196, 0) 0%,
            rgba(108, 2, 135, 0.5) 100%),   
            url(img/nikita-square.jpg);
}


.feedback__author {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: white;
}

.feedback__text {
  display: flex;
  align-self: center;
  max-width: 680px;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #fff;  
}
