.button {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 32px;
  border-radius: 10px;
}

.button_outline_violet {
  font-size: 22px;
  color: #ffffff;
  background-color: transparent;
  border: 3px solid #cd06ff;
}

.button_bg_violet {
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
  background: #6c0287;
  box-shadow: 0 0 20px #6c0287;
  /* filter: blur(20px); */
  border: 1px solid #6c0287;
}

.button_bg_white {
  font-size: 22px;
  line-height: 28px;
  color: #6c0287;
  background: #ffffff;
  border: 1px solid #ffffff;
}

